# Data Cleaning


After gathering the data needed for this project, i'll need to do some inspection on the data and perform data cleaning to make sure my data is clean in order to perform accurate analysis.

In [29]:
import re
import pandas as pd
import numpy as np
import seaborn as sb

from matplotlib import pyplot as plt

## Data Cleaning

### Data Inspection

In [30]:
df = pd.read_csv('BA_Review_data.csv')

df.head()

,rating_over_10,review_author,review_date,author_country,review_title,reviewer_verification_status,reviewer_text
0,\n5/10\n,G Jones,28th April 2023,United Kingdom,"""premium price for very average service""",Not Verified,Not Verified | Regarding the aircraft and seat...
1,\n1/10\n,Michelle Morgan,26th April 2023,Sweden,"""lack of customer service""",Not Verified,Not Verified | I travelled with British Airway...
2,\n2/10\n,Srinivasan Balaji,24th April 2023,United States,"""Overall not a good airline""",Not Verified,Not Verified | Food was lousy. Who ever is pl...
3,\n1/10\n,P Patel,24th April 2023,Canada,"""delayed and missed connecting flight""",Trip Verified,✅ Trip Verified | Had the worst experience. Th...
4,\n1/10\n,C Mayre,23rd April 2023,Ireland,"""!not a good experience""",Trip Verified,✅ Trip Verified | The ground staff were not h...

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   rating_over_10                3500 non-null   object
 1   review_author                 3500 non-null   object
 2   review_date                   3500 non-null   object
 3   author_country                3500 non-null   object
 4   review_title                  3500 non-null   object
 5   reviewer_verification_status  2121 non-null   object
 6   reviewer_text                 3500 non-null   object
dtypes: object(7)
memory usage: 191.5+ KB

In [32]:
df.isnull().sum()

rating_over_10                     0
review_author                      0
review_date                        0
author_country                     0
review_title                       0
reviewer_verification_status    1379
reviewer_text                      0
dtype: int64

In [33]:
df['reviewer_verification_status'].value_counts()

Trip Verified              797
Verified Review            609
Not Verified               171
1 reviews\n\n\n            115
2 reviews\n\n\n             49
31 reviews\n\n\n            40
3 reviews\n\n\n             33
8 reviews\n\n\n             22
4 reviews\n\n\n             20
Unverified                  19
13 reviews\n\n\n            19
5 reviews\n\n\n             15
12 reviews\n\n\n            15
6 reviews\n\n\n             15
37 reviews\n\n\n            13
26 reviews\n\n\n            12
25 reviews\n\n\n            12
57 reviews\n\n\n             9
20 reviews\n\n\n             9
10 reviews\n\n\n             8
27 reviews\n\n\n             8
11 reviews\n\n\n             8
18 reviews\n\n\n             8
9 reviews\n\n\n              8
14 reviews\n\n\n             7
7 reviews\n\n\n              7
47 reviews\n\n\n             6
17 reviews\n\n\n             6
36 reviews\n\n\n             6
21 reviews\n\n\n             5
16 reviews\n\n\n             4
28 reviews\n\n\n             4
29 reviews\n\n\n             4
23 reviews\n\n\n             4
132 reviews\n\n\n            4
22 reviews\n\n\n             4
24 reviews\n\n\n             3
66 reviews\n\n\n             3
35 reviews\n\n\n             3
45 reviews\n\n\n             2
51 reviews\n\n\n             2
32 reviews\n\n\n             2
41 reviews\n\n\n             2
38 reviews\n\n\n             2
British Airways Ranking      1
19 reviews\n\n\n             1
43 reviews\n\n\n             1
89 reviews\n\n\n             1
49 reviews\n\n\n             1
39 reviews\n\n\n             1
Ryanair                      1
Name: reviewer_verification_status, dtype: int64

### Quality Issues
> 
>  A large percent of the data has quality issues and needs to be cleaned to increase overall productivity and allow for the highest quality information in decision-making.

### Define

> I'll have to remove all unwanted symbols and text, assign the correct data type to each field, and address the columns with null values

### Code

In [34]:
#before we begin cleaning i'll make a copy of my original data and work with my copy

df_copy = df.copy()


df_copy.head()

,rating_over_10,review_author,review_date,author_country,review_title,reviewer_verification_status,reviewer_text
0,\n5/10\n,G Jones,28th April 2023,United Kingdom,"""premium price for very average service""",Not Verified,Not Verified | Regarding the aircraft and seat...
1,\n1/10\n,Michelle Morgan,26th April 2023,Sweden,"""lack of customer service""",Not Verified,Not Verified | I travelled with British Airway...
2,\n2/10\n,Srinivasan Balaji,24th April 2023,United States,"""Overall not a good airline""",Not Verified,Not Verified | Food was lousy. Who ever is pl...
3,\n1/10\n,P Patel,24th April 2023,Canada,"""delayed and missed connecting flight""",Trip Verified,✅ Trip Verified | Had the worst experience. Th...
4,\n1/10\n,C Mayre,23rd April 2023,Ireland,"""!not a good experience""",Trip Verified,✅ Trip Verified | The ground staff were not h...

In [35]:
df_copy['rating_over_10'] = df_copy['rating_over_10'].str.extract('\n(.+)\n')

df_copy['rating_over_10']

0       5/10
1       1/10
2       2/10
3       1/10
4       1/10
        ...
3495    8/10
3496    2/10
3497    7/10
3498    1/10
3499    8/10
Name: rating_over_10, Length: 3500, dtype: object

In [36]:
df_copy['rating_over_10'] = df_copy['rating_over_10'].str.split('/').str.get(0)

In [37]:
df_copy

,rating_over_10,review_author,review_date,author_country,review_title,reviewer_verification_status,reviewer_text
0,5,G Jones,28th April 2023,United Kingdom,"""premium price for very average service""",Not Verified,Not Verified | Regarding the aircraft and seat...
1,1,Michelle Morgan,26th April 2023,Sweden,"""lack of customer service""",Not Verified,Not Verified | I travelled with British Airway...
2,2,Srinivasan Balaji,24th April 2023,United States,"""Overall not a good airline""",Not Verified,Not Verified | Food was lousy. Who ever is pl...
3,1,P Patel,24th April 2023,Canada,"""delayed and missed connecting flight""",Trip Verified,✅ Trip Verified | Had the worst experience. Th...
4,1,C Mayre,23rd April 2023,Ireland,"""!not a good experience""",Trip Verified,✅ Trip Verified | The ground staff were not h...
...,...,...,...,...,...,...,...
3495,8,D Leston,15th May 2014,United Kingdom,British Airways customer review,NaN,MIA-LHR in World Traveller on a 747-400. After...
3496,2,R Vincent,15th May 2014,United Kingdom,British Airways customer review,NaN,Flew to Vegas on 8th May and dismayed at the s...
3497,7,Marlene Miller,13th May 2014,United States,British Airways customer review,NaN,On a recent vacation from Sacramento to Paris ...
3498,1,Kathleen Osborne,12th May 2014,United Kingdom,British Airways customer review,NaN,I should be in a nice hotel in Romania instead...
3499,8,S Castleman,11th May 2014,United Kingdom,British Airways customer review,NaN,LGW-MRU-LGW in business. Outbound flight good ...

In [38]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   rating_over_10                3500 non-null   object
 1   review_author                 3500 non-null   object
 2   review_date                   3500 non-null   object
 3   author_country                3500 non-null   object
 4   review_title                  3500 non-null   object
 5   reviewer_verification_status  2121 non-null   object
 6   reviewer_text                 3500 non-null   object
dtypes: object(7)
memory usage: 191.5+ KB

## Quality Issues

> The reviewer_verification_status contains some NaN and random values

### Define

> Here all the rows that contains null values in the `reviewer_verification_status` will be dropped. In addition, we'll be changing the column to a boolean so we can know if a verification is verified or not. This way we can get transparency in the reviews to know the reviews that are from verified customers

### Code

In [39]:
#get all the rows that has the 'Trip Verified', 'Not Verified', 'Verified Review', 'Unverified' values

df_copy.drop(df_copy[~df_copy['reviewer_verification_status'].isin(['Trip Verified', 'Not Verified', 'Verified Review', 'Unverified'])].index, inplace=True)

In [40]:
#convert 'Trip Verified' to 'Verified Review' since they are the same thing so we can make the reviewer_verification_status a boolean

df_copy['reviewer_verification_status'].replace('Trip Verified', 'Verified Review', inplace=True)

In [41]:
#convert the reviewer_verification_status column to a boolean

df_copy['reviewer_verification_status'] = df_copy.reviewer_verification_status.str.contains('Verified Review')

In [42]:
df_copy

,rating_over_10,review_author,review_date,author_country,review_title,reviewer_verification_status,reviewer_text
0,5,G Jones,28th April 2023,United Kingdom,"""premium price for very average service""",False,Not Verified | Regarding the aircraft and seat...
1,1,Michelle Morgan,26th April 2023,Sweden,"""lack of customer service""",False,Not Verified | I travelled with British Airway...
2,2,Srinivasan Balaji,24th April 2023,United States,"""Overall not a good airline""",False,Not Verified | Food was lousy. Who ever is pl...
3,1,P Patel,24th April 2023,Canada,"""delayed and missed connecting flight""",True,✅ Trip Verified | Had the worst experience. Th...
4,1,C Mayre,23rd April 2023,Ireland,"""!not a good experience""",True,✅ Trip Verified | The ground staff were not h...
...,...,...,...,...,...,...,...
2181,3,J Dand,26th March 2016,United Kingdom,"""same leg room as in Economy""",True,✅ Verified Review | Istanbul to London Heathr...
2182,8,Philip Djaferis,25th March 2016,Switzerland,"""friendly and efficient service""",True,✅ Verified Review | London Heathrow to Housto...
2183,1,Joanne Le Bon,24th March 2016,United Kingdom,"""BA.com been truly appalling""",True,✅ Verified Review | We have flown with Britis...
2184,7,J Lawrence,23rd March 2016,South Africa,"""overall experience was pleasant""",True,✅ Verified Review | British Airways from Seat...
2186,5,K Ong,23rd March 2016,Malaysia,"""the most uncomfortable flight""",True,✅ Verified Review | Gatwick to Amsterdam in B...

## Quality Issues

> The reviewer_text column contains some unwanted symbols and texts

### Define

> I'd have to take out the check symbol, the verification text as we have a column for that already, and the "|" sign also

### Code

In [43]:
df_copy.reviewer_text = df_copy.reviewer_text.str.split('|', expand=True)[1]

df_copy

,rating_over_10,review_author,review_date,author_country,review_title,reviewer_verification_status,reviewer_text
0,5,G Jones,28th April 2023,United Kingdom,"""premium price for very average service""",False,Regarding the aircraft and seat: The business...
1,1,Michelle Morgan,26th April 2023,Sweden,"""lack of customer service""",False,I travelled with British Airways from Sweden ...
2,2,Srinivasan Balaji,24th April 2023,United States,"""Overall not a good airline""",False,Food was lousy. Who ever is planning the Asi...
3,1,P Patel,24th April 2023,Canada,"""delayed and missed connecting flight""",True,Had the worst experience. The flight from Lon...
4,1,C Mayre,23rd April 2023,Ireland,"""!not a good experience""",True,The ground staff were not helpful. Felt like...
...,...,...,...,...,...,...,...
2181,3,J Dand,26th March 2016,United Kingdom,"""same leg room as in Economy""",True,Istanbul to London Heathrow with British Air...
2182,8,Philip Djaferis,25th March 2016,Switzerland,"""friendly and efficient service""",True,London Heathrow to Houston on British Airway...
2183,1,Joanne Le Bon,24th March 2016,United Kingdom,"""BA.com been truly appalling""",True,We have flown with British Airways over 100 ...
2184,7,J Lawrence,23rd March 2016,South Africa,"""overall experience was pleasant""",True,British Airways from Seattle to Johannesburg...
2186,5,K Ong,23rd March 2016,Malaysia,"""the most uncomfortable flight""",True,Gatwick to Amsterdam in Business class was t...

## Quality Issues

> Some of the Datatypes are Incorrect they are all currently set as a string(object)

In [44]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1596 entries, 0 to 2186
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   rating_over_10                1596 non-null   object
 1   review_author                 1596 non-null   object
 2   review_date                   1596 non-null   object
 3   author_country                1596 non-null   object
 4   review_title                  1596 non-null   object
 5   reviewer_verification_status  1596 non-null   bool
 6   reviewer_text                 1596 non-null   object
dtypes: bool(1), object(6)
memory usage: 88.8+ KB

### Define

> Fix the datatypes by assigning the correct datatype 

> Although `review_rating` are numbers, we won't be setting them as integers as we won't be performing calculations with them

### Code

In [45]:
df_copy['review_date'] = pd.to_datetime(df_copy['review_date'])

In [46]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1596 entries, 0 to 2186
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   rating_over_10                1596 non-null   object
 1   review_author                 1596 non-null   object
 2   review_date                   1596 non-null   datetime64[ns]
 3   author_country                1596 non-null   object
 4   review_title                  1596 non-null   object
 5   reviewer_verification_status  1596 non-null   bool
 6   reviewer_text                 1596 non-null   object
dtypes: bool(1), datetime64[ns](1), object(5)
memory usage: 88.8+ KB

## Quality Issues

> reviewer_text column contains some unwanted characters and digits

### Define

> i'll use regular expression to address this issue

### Code

In [47]:
# define a function to clean review text
def clean_reviewer_text(text):
    # remove unwanted signs using regular expression
    text = re.sub(r'[^\w\s]', '', text)   # remove all non-word and non-space characters
    text = re.sub(r'\d+', '', text)       # remove all digits
    text = re.sub(r'\s+', ' ', text)      # replace multiple spaces with single space
    text = text.strip()                   # remove leading/trailing spaces
    return text

# apply the function to the review text column
df_copy['reviewer_text_clean'] = df_copy['reviewer_text'].apply(clean_reviewer_text)

In [48]:
df_copy

,rating_over_10,review_author,review_date,author_country,review_title,reviewer_verification_status,reviewer_text,reviewer_text_clean
0,5,G Jones,2023-04-28,United Kingdom,"""premium price for very average service""",False,Regarding the aircraft and seat: The business...,Regarding the aircraft and seat The business c...
1,1,Michelle Morgan,2023-04-26,Sweden,"""lack of customer service""",False,I travelled with British Airways from Sweden ...,I travelled with British Airways from Sweden t...
2,2,Srinivasan Balaji,2023-04-24,United States,"""Overall not a good airline""",False,Food was lousy. Who ever is planning the Asi...,Food was lousy Who ever is planning the Asian ...
3,1,P Patel,2023-04-24,Canada,"""delayed and missed connecting flight""",True,Had the worst experience. The flight from Lon...,Had the worst experience The flight from Londo...
4,1,C Mayre,2023-04-23,Ireland,"""!not a good experience""",True,The ground staff were not helpful. Felt like...,The ground staff were not helpful Felt like al...
...,...,...,...,...,...,...,...,...
2181,3,J Dand,2016-03-26,United Kingdom,"""same leg room as in Economy""",True,Istanbul to London Heathrow with British Air...,Istanbul to London Heathrow with British Airwa...
2182,8,Philip Djaferis,2016-03-25,Switzerland,"""friendly and efficient service""",True,London Heathrow to Houston on British Airway...,London Heathrow to Houston on British Airways ...
2183,1,Joanne Le Bon,2016-03-24,United Kingdom,"""BA.com been truly appalling""",True,We have flown with British Airways over 100 ...,We have flown with British Airways over times ...
2184,7,J Lawrence,2016-03-23,South Africa,"""overall experience was pleasant""",True,British Airways from Seattle to Johannesburg...,British Airways from Seattle to Johannesburg v...
2186,5,K Ong,2016-03-23,Malaysia,"""the most uncomfortable flight""",True,Gatwick to Amsterdam in Business class was t...,Gatwick to Amsterdam in Business class was tru...

In [59]:
df_copy['reviewer_verification_status'] = df_copy['reviewer_verification_status'].astype(bool)

In [60]:
df_copy = df_copy.reset_index(drop=True)

In [61]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1596 entries, 0 to 1595
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   rating_over_10                1596 non-null   object
 1   review_author                 1596 non-null   object
 2   review_date                   1596 non-null   datetime64[ns]
 3   author_country                1596 non-null   object
 4   review_title                  1596 non-null   object
 5   reviewer_verification_status  1596 non-null   bool
 6   reviewer_text                 1596 non-null   object
 7   reviewer_text_clean           1596 non-null   object
 8   reviewer_text_lemmatized      1596 non-null   object
dtypes: bool(1), datetime64[ns](1), object(7)
memory usage: 101.4+ KB

# Obtaining Lemmas from the Reviewers' Text

> As part of my Data cleaning process i'll be performing a text pre-processing with the Lemmatization technique

In [53]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet

In [56]:
nltk.download('punkt')
nltk.download('omw-1.4')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')

lemmatizer = WordNetLemmatizer()

def get_wordnet_pos(tag):
    """Map POS tag to first character used by WordNetLemmatizer"""
    tag = tag[0].upper()
    tag_dict = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)

def lemmatize_text(text):
    """Lemmatize text using WordNetLemmatizer"""
    # Tokenize text and get POS tags
    tokens = nltk.word_tokenize(text)
    pos_tags = nltk.pos_tag(tokens)
    # Lemmatize text
    lemmatized_text = [lemmatizer.lemmatize(word, get_wordnet_pos(pos_tag))
                      for (word, pos_tag) in pos_tags]
    return " ".join(lemmatized_text)

df_copy['reviewer_text_lemmatized'] = df_copy['reviewer_text_clean'].apply(lemmatize_text)

[nltk_data] Downloading package punkt to /Users/olumide/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /Users/olumide/nltk_data...
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/olumide/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to /Users/olumide/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [62]:
df_copy

,rating_over_10,review_author,review_date,author_country,review_title,reviewer_verification_status,reviewer_text,reviewer_text_clean,reviewer_text_lemmatized
0,5,G Jones,2023-04-28,United Kingdom,"""premium price for very average service""",False,Regarding the aircraft and seat: The business...,Regarding the aircraft and seat The business c...,Regarding the aircraft and seat The business c...
1,1,Michelle Morgan,2023-04-26,Sweden,"""lack of customer service""",False,I travelled with British Airways from Sweden ...,I travelled with British Airways from Sweden t...,I travel with British Airways from Sweden to L...
2,2,Srinivasan Balaji,2023-04-24,United States,"""Overall not a good airline""",False,Food was lousy. Who ever is planning the Asi...,Food was lousy Who ever is planning the Asian ...,Food be lousy Who ever be plan the Asian Hindu...
3,1,P Patel,2023-04-24,Canada,"""delayed and missed connecting flight""",True,Had the worst experience. The flight from Lon...,Had the worst experience The flight from Londo...,Had the bad experience The flight from London ...
4,1,C Mayre,2023-04-23,Ireland,"""!not a good experience""",True,The ground staff were not helpful. Felt like...,The ground staff were not helpful Felt like al...,The ground staff be not helpful Felt like all ...
...,...,...,...,...,...,...,...,...,...
1591,3,J Dand,2016-03-26,United Kingdom,"""same leg room as in Economy""",True,Istanbul to London Heathrow with British Air...,Istanbul to London Heathrow with British Airwa...,Istanbul to London Heathrow with British Airwa...
1592,8,Philip Djaferis,2016-03-25,Switzerland,"""friendly and efficient service""",True,London Heathrow to Houston on British Airway...,London Heathrow to Houston on British Airways ...,London Heathrow to Houston on British Airways ...
1593,1,Joanne Le Bon,2016-03-24,United Kingdom,"""BA.com been truly appalling""",True,We have flown with British Airways over 100 ...,We have flown with British Airways over times ...,We have fly with British Airways over time usu...
1594,7,J Lawrence,2016-03-23,South Africa,"""overall experience was pleasant""",True,British Airways from Seattle to Johannesburg...,British Airways from Seattle to Johannesburg v...,British Airways from Seattle to Johannesburg v...
1595,5,K Ong,2016-03-23,Malaysia,"""the most uncomfortable flight""",True,Gatwick to Amsterdam in Business class was t...,Gatwick to Amsterdam in Business class was tru...,Gatwick to Amsterdam in Business class be trul...

At this point my data cleaning process has come to an end, i'll believe my data has been cleaned to the best level it can get to. Next thing to do is to export this cleaned data as csv to use for our remaining process which is `Data Visualization`

In [63]:
df_copy.to_csv("cleaned_reviews.csv", index=False)